body {
	background: #fff;
}

h2 {
	font-size:  1.5em;
	font-weight: bold;
}

h3 {
	font-size:  1.3em;
	font-weight: bold;
}

.table.risk-factors, .table.recommendations {
	margin-top:  20px;
}

.table.element-data {
	margin-top:  -15px;
}

.table.element-data td {
	padding-bottom:  0rem;
}

.table.risk-factors td {
	font-size:  0.9em;
}

.table.recommendations td {
	font-size:  0.9em;
}

td.title, span.title {
	font-size:  1.1em;
	font-weight:  bold;
}

.report-header {
	padding-top:  10px;
}

.report-element {
	border:  1px solid #eff2f0;
	border-radius: 5px;
	padding:  5px;
	margin-bottom:  10px;
}

.element-header {
	margin-left:  12px;
	margin-top:  10px;
}

.table td {
	/*padding:  0.25rem;*/
	vertical-align:  middle;
}

.table td.scale-cell {
	/*vertical-align: middle;*/
}

.scale {
	float:  left;
	width:  30%;
	margin-right:  5px;
	height:  12px;
}

.scale.green {
	background-color:  #129e31;
}

.scale.amber {
	background-color:  #f4a742;
}

.scale.red {
	background-color:  #f45342;
}

.title {
	font-size:  1.2em;
}

.report-element td.value {
	font-size:  1.3em;
}

.tfl {
	font-size:  1.3em;
}

.red {
	color:  #f45342;
}

.amber {
	color:  #f4a742;
}

.green {
	color:  #129e31;
}

.highlighted {
	background:  #eff2f0;
	border-radius:  5px;
}

.recommendation {
	background: #f7f9f7;
	border-radius:  10px;
	padding:  5px 10px;
	margin:  0 10px;
	font-size:  0.9em;
}