<!DOCTYPE html>
<html>
<head>
	<title>Report Template</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="report.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div class="container" id="app">
		<div class="row report-header">
				<div class="col-md-9">
					<h2>Health Assessment Report</h2>
					<p class="participant">Fred Hersch, 43y Male, PAA-0001-2<br/>
					House 22, Road 11, Dhaka 10090</p>
				</div>
				<div class="col-md-3 text-right">
					<img src="ghru_logo.png" height="100px" />
				</div>
		</div>
		<!--<div>
			{{ result.hearts }}
		</div>-->
		<div class="row">
			<div class="col-sm-4 report-element">
				<div class="element-header">
					<h3>Lifestyle Risk Factors</h3>
				</div>
				<table class="table table-striped risk-factors">
					<tbody>
						<tr>
							<td class="title">Smoker</td>
							<td>{{ result.hearts.assessments.lifestyle.smoking.output.type }}</td>
							<!--<td>{{ result.hearts.assessments.lifestyle.smoking.output.type }}</td>-->
						</tr>
						<tr>
							<td class="title">Alcohol Consumption</td>
							<!--<td>{{ result.hearts.assessments.lifestyle.alcohol.output.type }}</td>-->
							<td>At risk</td>
						</tr>
						<tr>
							<td class="title">Fruit intake</td>
							<!--<td>{{ result.hearts.assessments.lifestyle.diet.fruit.value }}</td>-->
							<td>{{ result.hearts.assessments.lifestyle.diet.fruit.output.code }}</td>
						</tr>
						<tr>
							<td class="title">Vegetable intake</td>
							<!--<td>{{ result.hearts.assessments.lifestyle.diet.vegetable.value }}</td>-->
							<td>{{ result.hearts.assessments.lifestyle.diet.vegetable.output.code }}</td>
						</tr>
						<tr>
							<td class="title">Physical Activity</td>
							<!--<td>{{ result.hearts.assessments.lifestyle.physical_activity.value }}</td>-->
							<td>{{ result.hearts.assessments.lifestyle.physical_activity.output.code }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--<div class="row col-sm-12">
				<p class="advice"><span class="badge badge-secondary">Stop Smoking</span>&nbsp;<span class="badge badge-secondary">Reduce Alcohol Consumption</span>&nbsp;<span class="badge badge-secondary">Stop Smoking</span>&nbsp;<span class="badge badge-secondary">Eat more fruit and vegetables</span>&nbsp;<span class="badge badge-secondary">Aim for 30 minutes of moderate intensity exercise daily</span></p>
			</div>-->
			<div class="col-sm report-element" style="margin-left: 10px;">
				<div class="element-header">
					<h3>Body Composition</h3>
				</div>
				<table class="table table-borderless">
					<tr>
						<td>
							<span class="title">BMI</span><small>&nbsp;(h: 182cm&nbsp;w: 80kg)</small><br/>
						</td>
						<td><span class="tfl value green">{{ result.hearts.assessments.body_composition.bmi.value }}</span></td>
						<td class="target">{{ result.hearts.assessments.body_composition.bmi.target }}</td>
						<td><span class="tfl green">{{ result.hearts.assessments.body_composition.bmi.output.code }}</span></td>
					</tr>
					<tr>
						<td>
							<span class="title">Waist Circumference</span><br/>
						</td>
						<td><span class="tfl value">{{ result.hearts.assessments.body_composition.waist_circ.value }}</span></td>
						<td class="target">{{ result.hearts.assessments.body_composition.waist_circ.target }}</td>
						<td><span class="tfl">{{ result.hearts.assessments.body_composition.waist_circ.output.code }}</span></td>
					</tr>
					<tr>
						<td>
							<span class="title">Body Fat</span><br/>
						</td>
						<td><span class="tfl value red">{{ result.hearts.assessments.body_composition.body_fat.value }}</span></td>
						<td class="target">{{ result.hearts.assessments.body_composition.body_fat.target }}</td>
						<td><span class="tfl red">{{ result.hearts.assessments.body_composition.body_fat.output.code }}</span></td></td>
					</tr>
				</table>
				<div class="recommendation">
				<p>{{ result.hearts.assessments.body_composition.message }}</p>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 report-element">
				<div class="element-header">
					<h3>Blood Pressure</h3>
				</div>
				<table class="table table-borderless element-data">
					<tr>
						<td>
							<span class="title">Average BP</span><br/>
						</td>
						<td><span class="tfl value green">{{ result.hearts.assessments.blood_pressure.value }}</span><span class="tfl green" style="margin-left: 10px;">{{ result.hearts.assessments.blood_pressure.output.code }}</span></td>
					</tr>
					<tr>
						<td colspan="3" style="padding: 0 0.75rem;"><span class="target">Target: &lt;{{ result.hearts.assessments.blood_pressure.target }}</span></td>
					</tr>
				</table>
				<div class="recommendation">
					<p>{{ result.hearts.assessments.blood_pressure.message }}</p>
				</div>
			</div>
			<div class="col-sm report-element" style="margin-left: 10px;">
				<div class="element-header">
					<span class="badge badge-primary float-right">Existing Diabetes</span>
					<h3>Diabetes</h3>
				</div>
				<table class="table table-borderless element-data">
					<tr>
						<td>
							<span class="title">Blood Sugar</span><br/>
						</td>
						<td><span class="tfl value green">{{ result.hearts.assessments.diabetes.value }}</span><span class="tfl green" style="margin-left: 10px;">{{ result.hearts.assessments.diabetes.output.code }}</span></td>
					</tr>
					<tr>
						<td colspan="3" style="padding: 0 0.75rem;"><span class="target">Target: {{ result.hearts.assessments.diabetes.target }}</span></td>
					</tr>
				</table>
				<div class="recommendation">
					<p>{{ result.hearts.assessments.diabetes.message }}</p>
				</div>
			</div>
			<div class="col-sm report-element" style="margin-left: 10px;">
				<div class="element-header">
					<h3>Cholesterol</h3>
				</div>
				<table class="table table-borderless element-data">
					<tr>
						<td>
							<span class="title">TChol</span><br/>
						</td>
						<td><span class="tfl value amber">{{ result.hearts.assessments.cholesterol.total_cholesterol.value }}</span><span class="tfl amber" style="margin-left: 10px;">{{ result.hearts.assessments.cholesterol.total_cholesterol.output.code }}</span></td>
					</tr>
					<tr>
						<td colspan="3" style="padding: 0 0.75rem;"><span class="target">Target: {{ result.hearts.assessments.cholesterol.total_cholesterol.target }}</span></td>
					</tr>
				</table>
				<div class="recommendation">
					<p>{{ result.hearts.assessments.cholesterol.total_cholesterol.message }}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="report-element col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class="element-header">
							<h3>Cardiovascular Risk</h3>
							<p><small>This is your calculated risk of having an event within the next 10 years. It is based on a WHO Hearts Guidelines that consider a combination of modifiable and non-modifiable risk factors.</small></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-borderless element-data">
							<tr>
								<td>
									<span class="title">10 year CVD risk</span>
								</td>
								<td><span class="tfl amber">{{ result.hearts.assessments.cvd.value }}</span></td>
								<td><span class="tfl amber">{{ result.hearts.assessments.cvd.output.code }}</span></td>
								<td>{{ result.hearts.assessments.cvd.message }}</td>
							</tr>
						</table>
					</div>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-6 report-element ">
				<div class="element-header">
					<h3>Your Recommendations</h3>
					<p class="lead">Based on your assessment, you should focus on the following areas to improve your health</p>
					<div class="risk-factors">
						<!--<span v-for="action in result.hearts.recommendations.lifestyle.actions" class="badge">{{ action.goal }}</span>-->
						<!--
						<span class="badge badge-danger">Stop Smoking</span>
						<span class="badge badge-warning">Reduce Alcohol Consumption</span>
						<span class="badge badge-warning">Weight Control</span>
						<span class="badge badge-info">Improve Diet</span>
						<span class="badge badge-info">Do more exercise</span>-->
					</div>
				</div>
				<table class="table table-striped recommendations">
					<tbody>
						<tr v-for="action in result.hearts.recommendations.lifestyle.actions">
							<td class="title">{{ action.goal }}</td>
							<td class="message">{{ action.messages[0] }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md report-element" style="margin-left: 10px;">
				<div class="element-header">
					<h3>Diet and Exercise Advice</h3>
				</div>
				<div class="recommendation light">
					<h6>Nutrition</h6>
					<p>Eat a diet that is rich in fruit and vegetables. Aim for 5 serves of vegetables and 2 servings of fruit daily</p>
					<ul>
						<li>Reduce the amount of processed foods</li>
						<li>Limit intake of free sugars to less than 6 teaspoons per day.</li>
						<li>Avoid deep fried foods and fast foods</li>
						<li>Replace deep frying with grilling or baking</li>
						<li>Eat fish and lean cuts of meat</li>
					</ul>
					<h6>Physical Activity</h6>
					<p>Aim for 150 minutes per week of moderate intensity exercise. Remember every little bit counts. So move more! Examples of moderate intensity exercise include</p>
					<ul>
						<li>Brisk walking, running, jogging</li>
						<li>Dancing, Jumping Rope</li>
						<li>Heavy gardening (continuous digging or hoeing)</li>
						<li>Hiking uphill or with a heavy backpack</li>
						<li>Riding a bicycle</li>
					</ul>
				</div>
		  	</div>
		</div>
		<div class="row footer">
			<div class="col-sm-12">
				<p class="text-left"><small>Generated on 25th November 2018 by [Institution Name] as part of the nGHRU Study. If you have any questions, contact the study team</small></p>
			</div>
		</div>
	</div>

	<script src="app.js">
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</body>
</html>